
body, h1, p, input, button {
margin: 0;
padding: 0;
}

body {
font-family: Arial, sans-serif;
padding: 20px;
}

h1 {
text-align: center;
font-size: xx-large;
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 100px;
background-color: yellow;
}

#titleSearch, #authorSearch, #favoriteBooks {
margin-bottom: 20px;
font-size: xx-large;
font-style: oblique;
}

label {
display: block;
margin-bottom: 5px;
}

input[type="text"] {
width: 50%; /* Adjust width to fit container */
padding: 8px;
border: 1px solid #ccc;
border-radius: 5px;
}

button {
padding: 8px 15px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-color: #0056b3;
}

.book-quote img {
float: inline-end;
width: 400px;
height: 400px;
}
#results-container {
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
width: 50%;
border: 1px solid black;
}

